<%- include ("../partials/header") %>

<div class="card text-center text-white mx-3 mt-1 mb-5">
  <img src="../images/muj.jpg" style="height: 600px;" class="card-img" alt="...">
  <div class="container card-img-overlay p-5">
    <h1 class="card-title p-5">People</h1>
    <p class="card-text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Hic fugit similique vitae eum dolor distinctio laudantium in harum, fuga aliquam obcaecati cumque laborum perferendis amet sapiente delectus corporis aliquid odio nobis, eos eius repudiandae excepturi. Nihil, exercitationem nobis veritatis pariatur corrupti modi nesciunt odio ipsa aperiam omnis architecto, nostrum est ut et unde, ullam nisi impedit fugit quia eos. Nulla.</p>
  </div>
</div>


<div class="card mx-3 mt-2 mb-5">
  <h5 class="card-header">Leadership</h5>
  <div class="card-body">
    <!-- <h5 class="card-title text-center">Leadership</h5> -->
    <p class="card-text" style="text-align: justify;">Lorem ipsum dolor sit amet consectetur adipisicing elit. Esse ut tenetur laborum reiciendis tempora, sint in? Sed aperiam ab sapiente qui minus eveniet nemo! Voluptatibus ipsa ad, cumque ea delectus eius totam aperiam eos laborum!</p>
    
    <div class="card-group">
      <div class="card">
        <img src="../images/muj.jpg" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">Dr. G K Prabhu</h5>
          <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
        </div>
        <div class="card-footer">
          <small class="text-muted">President, MUJ</small>
        </div>
      </div>

      <div class="card">
        <img src="../images/muj.jpg" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">Prof (Dr) Rajveer Singh Shikhawat</h5>
          <p class="card-text">This card has supporting text below as a natural lead-in to additional content.</p>
        </div>
        <div class="card-footer">
          <small class="text-muted">Dean, Faculty of Engg, Provost, Dir - SCIT</small>
        </div>
      </div>

      <div class="card">
        <img src="../images/muj.jpg" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">Dr. XYZ ABC</h5>
          <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
        </div>
        <div class="card-footer">
          <small class="text-muted">Provost & Dir. - School of Computing and IT</small>
        </div>
      </div>

      <div class="card">
        <img src="../images/muj.jpg" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">Dr. V S Dhaka</h5>
          <p class="card-text">This card has supporting text below as a natural lead-in to additional content.</p>
        </div>
        <div class="card-footer">
          <small class="text-muted">Professsor and Head of Department - CCE</small>
        </div>
      </div>
  </div>
  </div>
</div>


<div class="card mx-3 mb-5">
  <h5 class="card-header">Faculty</h5>
  <div class="card-body">
    <p class="card-text" style="text-align: justify;">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Quas vitae placeat ea temporibus, aut excepturi deleniti corporis consequuntur dolorem consequatur amet adipisci repudiandae recusandae rerum omnis maiores nisi quibusdam. Illo illum perspiciatis blanditiis harum iste pariatur esse, saepe natus dolorem.</p>
    <div class="row row-cols-1 row-cols-md-4 g-4">

      <% for (let faculty of faculties) { %> 
        <div class="col">
          <div class="card">
            <img src="../images/demo.jpg" style="height: 300px;" class="card-img-top" alt="...">
            <div class="card-body">
              <h5 class="card-title"><%= `${faculty.suffix} ${faculty.fName} ${faculty.lName}` %></a></h5>
              <p class="my-0"><%= faculty.post %></p>
              <p class="my-0"><%= faculty.dept %></p>
              <p class="mt-1 mb-1 card-text">
                Contact info:
                <ul>
                  <li>E-mail: <%= faculty.email %></li>
                  <li>Phone No: +91 <%= faculty.phone %></li>
                  <li><%= faculty.workStn %> </li>
                </ul>
              </p>
              <a class="btn btn-sm btn-outline-danger float-end" href="/people/<%= faculty._id %> " role="button">More</a>
            </div>
          </div>
        </div>
      <% } %> 

    </div>
  </div>
</div>


<div class="card mx-3 mb-1">
  <h5 class="card-header">Research and Lab Staff</h5>
  <div class="card-body">
    <p class="card-text" style="text-align: justify;">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Quas vitae placeat ea temporibus, aut excepturi deleniti corporis consequuntur dolorem consequatur amet adipisci repudiandae recusandae rerum omnis maiores nisi quibusdam. Illo illum perspiciatis blanditiis harum iste pariatur esse, saepe natus dolorem.</p>
    <div class="row row-cols-1 row-cols-md-4 g-4">

      <div class="col">
        <div class="card">
          <img src="../images/demo.jpg" style="height: 300px;" class="card-img-top" alt="...">
          <div class="card-body">
            <h5 class="card-title">Mr/Dr/Ms/Mrs XYZ ABC</h5>
            <p class="card-text">This is a longer card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
          </div>
        </div>
      </div>
      
      <div class="col">
        <div class="card">
          <img src="../images/demo.jpg" style="height: 300px;" class="card-img-top" alt="...">
          <div class="card-body">
            <h5 class="card-title">Mr/Dr/Ms/Mrs XYZ ABC</h5>
            <p class="card-text">This is a longer card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
          </div>
        </div>
      </div>

    </div>
  </div>
</div>



<script>
  document.title = "CCE | People";
</script>
<%- include ("../partials/footer") %>